<div>
    <h1>{{ endrukk_front_block_text }}</h1>
    {% if endrukk_front_block_image != false %}
        <img src="{{ endrukk_front_block_image }}"/>
    {% endif %}
    <p>Something goses here</p>
</div>